/* Page background */
html {
  background: url("../../img/background.png");
  background-color: #fff;
  background-size: 88.5px; }

/* Main body */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 1024px;
  margin: 0 auto; }

#content {
  /* Page header */
  /* Main footer */ }
  #content header {
    background-color: #fd7dac;
    position: relative;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
    /* Main logo */
    /* Navigation bar */ }
    #content header h1 {
      margin: 0; }
      #content header h1 #main-logo {
        margin: 0 0 0 2rem; }
    #content header nav {
      position: absolute;
      bottom: -11px;
      right: 2rem;
      font-size: 1.25rem;
      /* Main menu items */ }
      #content header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        #content header nav ul.main-menu > li {
          display: inline-block;
          position: relative;
          padding-bottom: 26px;
          /* Sub-menus */
          /* Hide sub-menus by default */ }
          #content header nav ul.main-menu > li a:link,
          #content header nav ul.main-menu > li a:visited,
          #content header nav ul.main-menu > li a:hover,
          #content header nav ul.main-menu > li a:active {
            color: #fff;
            text-decoration: none; }
          #content header nav ul.main-menu > li:not(:last-child) {
            margin-right: 1.5rem; }
          #content header nav ul.main-menu > li:hover > .sub-menu:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 10px solid #f8c4d3;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            position: absolute;
            top: -10px;
            left: 50%;
            margin-left: -5px; }
          #content header nav ul.main-menu > li:hover .sub-menu {
            display: block;
            font-size: 1rem;
            position: absolute;
            top: 53px;
            left: 50%;
            margin-left: -3.5em;
            z-index: 999; }
            #content header nav ul.main-menu > li:hover .sub-menu > li {
              background-color: #f8c4d3;
              width: 7em;
              text-align: center;
              padding: 5px 0; }
            #content header nav ul.main-menu > li:hover .sub-menu > li:not(:last-child) {
              border-bottom: 2px solid #fff; }
            #content header nav ul.main-menu > li:hover .sub-menu a:link,
            #content header nav ul.main-menu > li:hover .sub-menu a:visited,
            #content header nav ul.main-menu > li:hover .sub-menu a:active {
              color: #4d4c4c; }
            #content header nav ul.main-menu > li:hover .sub-menu a:hover {
              color: #fff; }
          #content header nav ul.main-menu > li .sub-menu {
            display: none; }
  #content footer {
    background-color: #999;
    float: left;
    width: 100%;
    color: #fff;
    margin-top: 4rem;
    padding: 1rem 0;
    font-size: 0.75rem;
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.3);
    /* Contact information */
    /* Copyright information */ }
    #content footer .contact {
      list-style-type: none;
      padding: 0;
      margin-left: 2rem;
      float: left;
      /* Contact items */ }
      #content footer .contact a:link,
      #content footer .contact a:visited,
      #content footer .contact a:hover,
      #content footer .contact a:active {
        color: #fff;
        text-decoration: none; }
    #content footer .copyright {
      margin-right: 2rem;
      float: right; }

.about-us {
  float: left;
  width: 920px;
  margin: 4rem 52px 0 52px; }

.products {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 920px; }
  .products li {
    float: left;
    background-color: #e6e6e6;
    width: 300px;
    height: 200px;
    margin: 0;
    border: 0;
    position: relative;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18); }
    .products li:not(:last-child) {
      margin: 0 10px 0 0; }
    .products li img {
      position: absolute;
      top: 50%;
      left: 50%; }

.content {
  background-color: #fce6ec;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  width: 870px;
  color: #666;
  padding: 1.5rem 25px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18); }

.mission-01 img {
  margin-left: -103.5px;
  margin-top: -90px; }

.mission-02 img {
  margin-left: -121.5px;
  margin-top: -90px; }

.mission-03 img {
  margin-left: -139.5px;
  margin-top: -77.5px; }

.mission-04 img {
  margin-left: -135px;
  margin-top: -75px; }

.mission-05 img {
  margin-left: -103.5px;
  margin-top: -90px; }

.mission-06 img {
  margin-left: -113px;
  margin-top: -90px; }

.vision-01 img {
  margin-left: -90px;
  margin-top: -90px; }

.vision-02 img {
  margin-left: -149px;
  margin-top: -90px; }

.vision-03 img {
  margin-left: -112.5px;
  margin-top: -90px; }

.vision-04 img {
  margin-left: -109px;
  margin-top: -100px; }

.vision-05 img {
  margin-left: -120px;
  margin-top: -90px; }

.vision-06 img {
  margin-left: -86.5px;
  margin-top: -90px; }
