{% extends 'base.html.twig' %}

{% block title %}Contacto{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('styles/css/contact.css') }}" />
{% endblock %}

{% block content %}
  <section class="contact">
    <h2>
      Contacto
    </h2>
    <form method="post" action="#">
      <p>
        <label>Compa&#241;&#237;a</label>
        <input type="text" name="company-name" />
      </p>
      <p>
        <label>Nombre</label>
        <input type="text" name="full-name" />
      </p>
      <p>
        <label>Direcci&#243;n</label>
        <input type="text" name="address" />
      </p>
      <p>
        <label>Tel&#233;fono</label>
        <input type="text" name="phone-number" />
      </p>
      <p>
        <label>Correo Electr&#243;nico</label>
        <input type="text" name="email-address" />
      </p>
      <p>
        <label>&#191;C&#243;mo se enter&#243; de nosotros?</label>
        <input type="text" name="about" />
      </p>
      <p>
        <label>Comentarios</label>
        <textarea name="comments"></textarea> 
      </p>
      <p>
        <input type="submit" value="Enviar" />
      </p>
    </form>
  </section>
{% endblock %}
