@import "partials/main";

.banner {
  width: 804px;
  margin: 4rem 110px 0 110px;
  float: left;
}

.logo-pink,
.eco-wand {
  float: left;
}

.limas-img {
  display: block;
  margin-bottom: -18px;
}

.products {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
  width: 804px;
  margin: 4rem 110px 0 110px;

  li {
    border: 1px solid #fd7dac;
    background-color: #fff;
    text-align: center;
    line-height: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}
