@import "../partials/main";

.about-us {
  float: left;
  width: 920px;
  margin: 4rem 52px 0 52px;
}

.products {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 920px;

  li {
    float: left;
    background-color: #e6e6e6;
    width: 300px;
    height: 200px;
    margin: 0;
    border: 0;
    position: relative;

    &:not(:last-child) {
      margin: 0 10px 0 0;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
}

.content {
  background-color: #fce6ec;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  width: 870px;
  color: #666;
  padding: 1.5rem 25px;
}

.mission-01 img { margin-left: -103.5px; margin-top: -90px; }
.mission-02 img { margin-left: -121.5px; margin-top: -90px; }
.mission-03 img { margin-left: -139.5px; margin-top: -77.5px; }
.mission-04 img { margin-left: -135px; margin-top: -75px; }
.mission-05 img { margin-left: -103.5px; margin-top: -90px; }
.mission-06 img { margin-left: -113px; margin-top: -90px; }

.vision-01 img { margin-left: -90px; margin-top: -90px; }
.vision-02 img { margin-left: -149px; margin-top: -90px;  }
.vision-03 img { margin-left: -112.5px; margin-top: -90px; }
.vision-04 img { margin-left: -109px; margin-top: -100px; }
.vision-05 img { margin-left: -120px; margin-top: -90px; }
.vision-06 img { margin-left: -86.5px; margin-top: -90px; }
