html {
  background: url('../../img/background.png');
  background-color: #fff;
  background-size: 88.5px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 1024px;
  margin: 0 auto;
}

#content {
  header {
    background-color: #fd7dac;
    position: relative;

    h1 {
      margin: 0;
  
      #main-logo {
        margin: 0 0 0 2rem;
      }
    }

    nav {
      position: absolute;
      bottom: -11px;
      right: 2rem;
      font-size: 1.25rem;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        &.main-menu > li {
          display: inline-block;
          position: relative;
          padding-bottom: 26px;

          a:link,
          a:visited,
          a:hover,
          a:active {
            color: #fff;
            text-decoration: none;
          }

          &:not(:last-child) {
            margin-right: 1.5rem;
          }

          &:hover {
            & > a:after {
              content: "";
              display: inline-block;
              width: 0;
              height: 0;
              border-top: 10px solid #f8c4d3;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              position: absolute;
              bottom: 0;
              left: 50%;
              margin-left: -5px;
            }

            & .sub-menu {
              display: block;
              font-size: 1rem;
              position: absolute;
              top: 53px;;
              left: 50%;
              margin-left: -3em;

              & > li {
                background-color: #f8c4d3;
                width: 6em;
                text-align: center;
              }

              & > li:not(:last-child) {
                border-bottom: 2px solid #fff;
              }

              a:link,
              a:visited,
              a:hover,
              a:active {
                color: #4d4c4c;
              }
            }
          }

          .sub-menu {
            display: none;
          }
        }
      }
    }
  }
}
