html {
  background: url('../../img/background.png');
  background-color: #fff;
  background-size: 88.5px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 1024px;
  margin: 0 auto;
}

#content {
  header {
    background-color: #fd7dac;
    position: relative;

    h1 {
      margin: 0;
  
      #main-logo {
        margin: 0 0 0 2rem;
      }
    }

    nav {
      position: absolute;
      bottom: -11px;
      right: 2rem;
      font-size: 1.25rem;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        &.main-menu > li {
          display: inline-block;
          position: relative;
          padding-bottom: 26px;

          a:link,
          a:visited,
          a:hover,
          a:active {
            color: #fff;
            text-decoration: none;
          }

          &:not(:last-child) {
            margin-right: 1.5rem;
          }

          &:hover {
            & > .sub-menu:before {
              content: "";
              display: inline-block;
              width: 0;
              height: 0;
              border-top: 10px solid #f8c4d3;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              position: absolute;
              top: -10px;
              left: 50%;
              margin-left: -5px;
            }

            & .sub-menu {
              display: block;
              font-size: 1rem;
              position: absolute;
              top: 53px;;
              left: 50%;
              margin-left: -3.5em;
              z-index: 999;

              & > li {
                background-color: #f8c4d3;
                width: 7em;
                text-align: center;
                padding: 5px 0;
              }

              & > li:not(:last-child) {
                border-bottom: 2px solid #fff;
              }

              a:link,
              a:visited,
              a:hover,
              a:active {
                color: #4d4c4c;
              }
            }
          }

          .sub-menu {
            display: none;
          }
        }
      }
    }
  }
}

.banner {
  width: 804px;
  margin: 4rem 110px 0 110px;
  float: left;
}

.logo-pink,
.eco-wand {
  float: left;
}

.limas-img {
  display: block;
  margin-bottom: -18px;
}

.products {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
  width: 804px;
  margin: 4rem 110px 0 110px;

  li {
    border: 1px solid #fd7dac;
    background-color: #fff;
    text-align: center;
    line-height: 0;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

footer {
  background-color: #999;
  float: left;
  width: 100%;
  color: #fff;
  margin-top: 4rem;
  padding: 1rem 0;
  font-size: 0.75rem;

  .contact {
    margin-left: 2rem;
    float: left;

    a:link,
    a:visited,
    a:hover,
    a:active {
      color: #fff;
      text-decoration: none;
    }
  }

  .copyright {
    margin-right: 2rem;
    float: right;
  }
}
